<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .profile {
      width: 100px;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }

    .title {
      text-align: center;
    }

    p span {
      font-weight: bold;
    }

    .content {
      text-align: center;

    }

    .box {
      width: 400px;
      background-color: royalblue;
      border-radius: 10px;
      text-align: center;
      margin: 0 auto;
      color: white;
      padding: 20px 0;
      box-shadow: 5px 5px black;
    }
  </style>
</head>
<body>
  
  <img class="profile"  src="https://avatars.githubusercontent.com/u/143495267?v=4" alt="프사">

  <h3 class="title">최지우</h3>

  <p class="content">
    <span>Full Stack</span> 
    Developer</p>

  <div class="box">
    안녕하세요 최지우입니다.<br>
    현재 웹 개발자 수업을 수강 중 입니다.
  </div>


</body>
</html>