
div, input, textarea {
    box-sizing: border-box;
}

.background {
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    padding: 30px;
    margin: 0 auto;
}

h5, p {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.container {
    background-color: #fbfbfb;
    border: 1px solid #e4e4e4;
    padding: 20px;
    margin: 15px 0;
}

.form-input {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    outline: none;
}

.birth {
    display: flex;
}

.birth select {
    width: 33%;
}

select + select {
    margin-left: 5px;
}

select {
    padding: 8px;
}

.phone-box {
    display: flex;
}

#phone {
    flex-grow: 8;
    flex-basis: 0;
}
.phone-btn {
    flex-grow:2;
    flex-basis: 0;
}

textarea {
    width: 100%;
}

.btn-register {
    width: 100%;
}

.radio1, .radio2 {
    font-size: 12px;
}

.checkboxes {
    font-size: 12px;
}

.checkboxes *  {
    margin-left: 15px;
}

