/* 앞에서 만든 각 요소에 선택자를 먼저 작성 */
.container {

}
.container .heroes {
  display: flex;
  /* 기본적으로 줄바꿈되지 않고 
    기본 감소 너비 비율이 1이어서
    한 줄에 모든 요소가 줄어들어 표시됨
  */
  flex-wrap: wrap;

  /* 영역 확인용(작엽이 다 끝나면 삭제) */
  background-color: orange;
  justify-content: center;
  max-width: 700px;

  /* flex로도 정렬이 가능하지만 그렇게 하면 더 복잡함
    간단히 해결할 수 있는 것은 flex를 남발하지 않는 것을 권장
  */
  margin: 0 auto; /* 사용 조건: 블록 요소에 가로 사이즈가 명시되어 있는 경우! */
  padding: 40px 20px;
}
.container .heroes .hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  background-color: #555;

  /* 테두리선, 기울기 추가 */
  border: 3px solid #fff;
  transform: skewX(-14deg);

  /* 모서리 둥글게, 요소의 크기를 유지하도록 처리 */
  border-radius: 10px;
  box-sizing: border-box;
  transition: .5s;
}

/* Quiz: .hero에 마우스 올렸을 때 배경색 변경 및 확대 */
.container .heroes .hero:hover {
  background-color: #ff9c00; 
  /* transform 속성을 덮어쓰면서 기울임이 없어짐 */
  transform: skewX(-14deg) scale(1.3);
  z-index: 1;
}

.container .logo {

}
