<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="grey-bg">
  <%- include('nav') %>

  <!-- form 태그를 이용하여 서버에 (동기식) 요청 보내는 방법
    1) action=/URL
    2) method=GET, POST만 가능
  -->
  <form id="write-form" class="form-box" action="/post/write" method="post" enctype="application/x-www-form-urlencoded">
    <h4>글쓰기</h4>
    <label for="title">제목</label>
    <input type="text" id="title">
    <label for="content">내용</label>
    <input type="text" id="content">
    <button type="submit">등록</button>
  </form>
</body>

</html>